
#this shows not include by git

*.o
*.d
*.cmd
*.mod.c
*.mod.o
*.mod
*.order
*.symvers
*.tar.xz
*.a
*.so
*.so*
*.ko
*.tar.bz2
*.tar.gz

thirdparts/asio/
thirdparts/jsoncpp/

thirdparts/mosquitto/m*
thirdparts/mosquitto/c*
thirdparts/mosquitto/o*
thirdparts/mosquitto/z*

rootfs/run/server/*
rootfs/run/support/*
rootfs/run/bin/main_process

buildout/

/rootfs/run/bin/lower_device
