
#include "imx6ull-14x14-rmk-emmc.dts"

/ {
	usr_led {
		compatible = "rmk,usr-led";
		pinctrl-0 = <&pinctrl_gpio_led>;
		led-gpio = <&gpio1 3 GPIO_ACTIVE_LOW>;
		status = "okay";
	};

	usr_beep {
		compatible = "rmk,usr-beep";
		pinctrl-0 = <&pinctrl_gpio_beep>;
		beep-gpio = <&gpio5 1 GPIO_ACTIVE_LOW>;
		status = "okay";
	};

	usr_key {
		compatible = "rmk,usr-key";
		#address-cells = <1>;
		#size-cells = <1>; 
		pinctrl-0 = <&pinctrl_gpio_key>;
		key-gpio = <&gpio1 18 GPIO_ACTIVE_LOW>;
		interrupt-parent = <&gpio1>;
		interrupts = <18 IRQ_TYPE_EDGE_BOTH>;
		status = "okay";
	};
};

&iomuxc {
    pinctrl_gpio_led: gpio-leds {
        fsl,pins = <
            MX6UL_PAD_GPIO1_IO03__GPIO1_IO03	0x17059
        >;
    };

	/*beep pinctrl used add by zc*/
	pinctrl_gpio_beep: beep {
		fsl,pins = <
			MX6ULL_PAD_SNVS_TAMPER1__GPIO5_IO01	0x400010B0
		>;
	};

	pinctrl_gpio_key: gpio-keys {
		fsl,pins = <
			MX6UL_PAD_UART1_CTS_B__GPIO1_IO18	0x80000000
		>;
	};

	pinctrl_ecspi3: ecspi3grp {
        fsl,pins = <
			MX6UL_PAD_UART2_TX_DATA__GPIO1_IO20		  0x100b0
			MX6UL_PAD_UART2_RTS_B__ECSPI3_MISO        0x100b1  
			MX6UL_PAD_UART2_CTS_B__ECSPI3_MOSI        0x100b1 
			MX6UL_PAD_UART2_RX_DATA__ECSPI3_SCLK      0x100b1
        >;
	};  
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";
	
	ap3216@1e {
		compatible = "rmk,ap3216";
		reg = <0x1e>;
	};
};

&ecspi3 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio1 20 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3>;
	status = "okay";

	spidev0:icm20608@0 {
		compatible = "rmk,icm20608";
		spi-max-frequency = <8000000>;
		reg = <0>;
	};
};

&lcdif {
	assigned-clocks = <&clks IMX6UL_CLK_LCDIF_PRE_SEL>;
	assigned-clock-parents = <&clks IMX6UL_CLK_PLL5_VIDEO_DIV>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif_dat
		     &pinctrl_lcdif_ctrl>;
	display = <&display0>;
	status = "okay";

	display0: display@0 {
		bits-per-pixel = <16>;
		bus-width = <24>;

		display-timings {
			native-mode = <&timing0>;
            
			timing0: timing0 {
                clock-frequency = <33000000>;
                hactive = <800>;
                vactive = <480>;
                hfront-porch = <40>;
                hback-porch = <88>;
                hsync-len = <48>;
                vback-porch = <32>;
                vfront-porch = <13>;
                vsync-len = <3>;

                hsync-active = <0>;
                vsync-active = <0>;
                de-active = <1>;
                pixelclk-active = <0>;
			};
		};
	};
};
